PORT=3000

# Generate random secret
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=xxxxx
NODE_ENV=development

# Local: mongodb://127.0.0.1:27017/psn_profile_manager
# Atlas: mongodb+srv://xxxxx
# Set to true if MongoDB is not installed locally.
USE_IN_MEMORY_MONGODB=true
MONGODB_URI="mongodb://127.0.0.1:27017/psn_profile_manager"
MONGODB_USER=mongodb_username
MONGODB_PASSWORD=mongodb_password

FRONTEND_ORIGIN=http://localhost:8001

