PORT=3000

# Generate random secret
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" 
JWT_SECRET=xxxxx
NODE_ENV=development

MONGODB_URI="mongodb+srv://xxxxx"
MONGODB_USER=mongodb_username
MONGODB_PASSWORD=mongodb_password

